$color-primary: #409eff;
$color-secondary: #F56C6C;

@mixin center-h() {
  display: flex;
  justify-content: center;
}

@mixin center-v() {
  display: flex;
  align-items: center;
}

@mixin center-hv() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin one-line() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin button-color($color) {
  background-color: $color;
  border-color: $color;
  color: white;

  &:hover {
    background-color: lighten($color, 5%);
    border-color: lighten($color, 5%);
  }
}
